@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
	color: #555;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #6198f1;
	text-decoration: none;
	-webkit-transition: color .5s ease, background-color .5s ease;
	-moz-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}

a:hover {
	background-color: #efefef;
	color: #6198f1;
	text-decoration: none;
}

p {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 auto 40px;
	max-width: 765px;
	text-align: center;
}

.small {
	font-size: 24px;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.pills {
	margin: 0 auto;
	max-width: 765px;
	padding-bottom: 100px;
	padding-top: 30px;
	text-align: center;
}

ul.pills:after {
	content: "";
	clear: both;
	display: table;
}

ul.pills li {
	background-color: #eee;
	border-radius: 2px;
	display: inline-block;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: .025em;
	line-height: 1em;
	margin-right: 5px;
	margin-bottom: .75em;
	padding: .65em .9em .75em;
	white-space: nowrap;
}

.wrap {
	padding: 25px;
}

@media screen and (min-width: 768px) {
	.wrap {
		padding: 0;
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
}

@media screen and (min-width: 768px) {
	.wrap .inside {
		display: table;
		height: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.wrap .inside .content {
		display: table-cell;
		vertical-align: middle;
	}
}
