@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
	font-family: 'nerislight';
	src: url('../fonts/Neris-Light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	color: #555;
	font-family: 'nerislight', 'Roboto', 'Helvetica Neue', sans-serif;;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #6198f1;
	text-decoration: none;
	-webkit-transition: color .5s ease, background-color .5s ease;
	-moz-transition: color .5s ease, background-color .5s ease;
	-o-transition: color .5s ease, background-color .5s ease;
	transition: color .5s ease, background-color .5s ease;
}

a:hover {
	background-color: #efefef;
	color: #6198f1;
	text-decoration: none;
}

p {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 auto 40px;
	max-width: 500px;
	text-align: center;
}

.small {
	font-size: 24px;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrap {
	padding: 25px;
}

@media screen and (min-width: 768px) {
	.wrap {
		padding: 0;
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}
}

@media screen and (min-width: 768px) {
	.wrap .inside {
		display: table;
		height: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.wrap .inside .content {
		display: table-cell;
		vertical-align: middle;
	}
}
